{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
<article>
<div class="container">
  <p><b>Save My News</b> was a personal, permanent clipping service created by <a href="https://palewi.re/who-is-ben-welsh/">Ben Welsh</a>. It helped journalists and other users preserve more than 20,000 web pages in multiple online archives.</p>
  <p>The site was discontinued in 2023 after 'Chief Twit' Elon Musk's management team banned thousands of outside applications reliant on Twitter's infrastructure.</p>
  <p>No data has been lost. All the pages archived via this site remain secure in the Internet Archive, Archive.is and WebCite. From its inception Save My News was simply a passthrough to other archives.</p>
  <p>If you would like a list of all the URLs you saved here, contact Ben at <a href="mailto:b@palewi.re">b@palewi.re</a>.</p>
</div>
</article>
{% endblock content %}
