[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
archiveis = "==0.0.9"
celery = "==4.3.0"
dj-database-url = "==0.4.2"
gunicorn = "==19.7.1"
pytz = ">=2017.3"
redis = "==3.3.11"
webcitation = "==0.0.2"
whitenoise = "==4.1.4"
Django = "==3.2.14"
social-auth-app-django = "==3.1.0"
requests = "==2.22.0"
savepagenow = "==1.2.3"
python3-openid = "*"
psycopg2-binary = ">=2.8.4"
flake8 = "*"
jinja2 = ">=2.11.3"
cryptography = ">=3.3.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
