body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
header {
    margin: 0 0 30px 0;
}
.fb_iframe_widget span {
    vertical-align: baseline !important;
}
.share {
    margin-top: 20px;
}
.form-control, .btn {
    border-radius: 0;
}
.fa-trash {
    cursor: pointer;
}
.save {
    padding-left: 0;
}
.table {
    margin-top: 30px;
}
.table td {
    padding-right: 15px;
}
.table th,
.table td {
    white-space: nowrap;
}
.table .tfoot td {
    padding-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.table .tfoot td a {
    color: black;
}
.table .tfoot td a:hover i {
    text-decoration: underline;
}
@media (max-width: 420px) {
    body {
        padding-top: 15px;
    }
}
