<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Save My News{% endblock %}</title>

    {% block extra-meta %}
    <meta property="og:title" content="Save My News">
    <meta property="og:description" content="A personal, permanent clipping service.">
    <meta property="og:image" content="//www.savemy.news{% static 'archive/img/share.png' %}">
    <meta name="twitter:image" content="//www.savemy.news{% static 'archive/img/share.png' %}">
    <meta property="og:url" content="//www.savemy.news">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Save My News">
    {% endblock %}

    {% block css %}
    <link href="{% static 'archive/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'archive/css/site.css' %}?rev=6" rel="stylesheet">
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>
  <body>
    {% include "archive/includes/facebook.html" %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'archive/js/ie10-viewport-bug-workaround.js' %}"></script>
    {% include "archive/includes/twitter.html" %}
  </body>
</html>
