<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Save My News{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'archive/img/favicon.png' %}">

    {% block extra-meta %}
    <meta property="og:title" content="Save My News">
    <meta property="og:description" content="A personal, permanent clipping service">
    <meta property="og:image" content="//www.savemy.news{% static 'archive/img/share.png' %}">
    <meta name="twitter:image" content="//www.savemy.news{% static 'archive/img/share.png' %}">
    <meta property="og:url" content="//www.savemy.news">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Save My News">
    {% endblock %}

    {% block css %}
    <link href="{% static 'archive/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'archive/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'archive/css/site.css' %}?rev={% now 'c' %}" rel="stylesheet">
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block js %}
    <script src="{% static 'archive/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'archive/js/jquery-3.1.1.slim.min.js' %}"></script>
    <script src="{% static 'archive/js/tether.min.js' %}"></script>
    <script src="{% static 'archive/js/bootstrap.min.js' %}"></script>
    {% endblock %}
    {% block body-bottom %}
    {% endblock %}
    {% block footer %}
    <footer class="footer">
       <div class="container">
         <span class="text-muted">© {% now "Y" %} til infinity <a href="http://www.pastpages.org">PastPages</a>.
             Gratis, libre and fermented on <a href="https://github.com/pastpages/savemy.news">GitHub</a>
         </span>
       </div>
     </footer>
    {% endblock %}
  </body>
</html>
