// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

body {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #eee;
}

// YOUR CODE
// Starting writing your stuff below here
.container {
  max-width: 600px;
  margin: 30px auto;
  line-height: 1.4;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

p {
  font-family: fonts.$font-family-body;
  font-weight: fonts.$font-weight-body;
  font-size: 20px;
}
